<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guli.edu.mapper.EduVideoMapper" >
  <resultMap id="BaseResultMap" type="com.guli.edu.entity.EduVideo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="chapter_id" property="chapterId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="play_count" property="playCount" jdbcType="BIGINT" />
    <result column="is_free" property="isFree" jdbcType="BIT" />
    <result column="video_original_name" property="videoOriginalName" jdbcType="VARCHAR" />
    <result column="video_source_id" property="videoSourceId" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, course_id, chapter_id, title, sort, play_count, is_free, video_original_name, 
    video_source_id, duration, status, size, version, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guli.edu.entity.EduVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from edu_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from edu_video
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_video
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.guli.edu.entity.EduVideoExample" >
    delete from edu_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guli.edu.entity.EduVideo" >
    insert into edu_video (id, course_id, chapter_id, 
      title, sort, play_count, 
      is_free, video_original_name, video_source_id, 
      duration, status, size, 
      version, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{chapterId,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{playCount,jdbcType=BIGINT}, 
      #{isFree,jdbcType=BIT}, #{videoOriginalName,jdbcType=VARCHAR}, #{videoSourceId,jdbcType=VARCHAR}, 
      #{duration,jdbcType=REAL}, #{status,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, 
      #{version,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guli.edu.entity.EduVideo" >
    insert into edu_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="playCount != null" >
        play_count,
      </if>
      <if test="isFree != null" >
        is_free,
      </if>
      <if test="videoOriginalName != null" >
        video_original_name,
      </if>
      <if test="videoSourceId != null" >
        video_source_id,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="playCount != null" >
        #{playCount,jdbcType=BIGINT},
      </if>
      <if test="isFree != null" >
        #{isFree,jdbcType=BIT},
      </if>
      <if test="videoOriginalName != null" >
        #{videoOriginalName,jdbcType=VARCHAR},
      </if>
      <if test="videoSourceId != null" >
        #{videoSourceId,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guli.edu.entity.EduVideoExample" resultType="java.lang.Integer" >
    select count(*) from edu_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update edu_video
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=BIGINT},
      </if>
      <if test="record.chapterId != null" >
        chapter_id = #{record.chapterId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.playCount != null" >
        play_count = #{record.playCount,jdbcType=BIGINT},
      </if>
      <if test="record.isFree != null" >
        is_free = #{record.isFree,jdbcType=BIT},
      </if>
      <if test="record.videoOriginalName != null" >
        video_original_name = #{record.videoOriginalName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoSourceId != null" >
        video_source_id = #{record.videoSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=REAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update edu_video
    set id = #{record.id,jdbcType=BIGINT},
      course_id = #{record.courseId,jdbcType=BIGINT},
      chapter_id = #{record.chapterId,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      play_count = #{record.playCount,jdbcType=BIGINT},
      is_free = #{record.isFree,jdbcType=BIT},
      video_original_name = #{record.videoOriginalName,jdbcType=VARCHAR},
      video_source_id = #{record.videoSourceId,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=REAL},
      status = #{record.status,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=BIGINT},
      version = #{record.version,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guli.edu.entity.EduVideo" >
    update edu_video
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null" >
        chapter_id = #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="playCount != null" >
        play_count = #{playCount,jdbcType=BIGINT},
      </if>
      <if test="isFree != null" >
        is_free = #{isFree,jdbcType=BIT},
      </if>
      <if test="videoOriginalName != null" >
        video_original_name = #{videoOriginalName,jdbcType=VARCHAR},
      </if>
      <if test="videoSourceId != null" >
        video_source_id = #{videoSourceId,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guli.edu.entity.EduVideo" >
    update edu_video
    set course_id = #{courseId,jdbcType=BIGINT},
      chapter_id = #{chapterId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      play_count = #{playCount,jdbcType=BIGINT},
      is_free = #{isFree,jdbcType=BIT},
      video_original_name = #{videoOriginalName,jdbcType=VARCHAR},
      video_source_id = #{videoSourceId,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=REAL},
      status = #{status,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>